modules/aoc @MartinKrausewitz @Kr0nox
modules/attendancetracker @c0derMo @Kr0nox
modules/koeri @c0derMo
modules/mensa @c0derMo
modules/truthtable @c0derMo
modules/vote @MartinKrausewitz
lib @c0derMo
lib/tasks @Kr0nox
index.ts @c0derMo