name: test
on:
  push:
  workflow_dispatch:
  pull_request:
jobs:
  jest:
    name: jest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v3
      - run: npm ci
      - name: Run tests
        run: npm run test